.book-card {
  margin: 0 auto;
  max-width: 280px;
  min-height: 480px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.book-card:hover {
  background-color: var(--bs-primary);
  color: white;
}

.book-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
